@{
    Layout = null;
}
@model  HMS.Models.Status
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Hospital Managment System</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Lib/ag-grid-community/dist/styles/ag-grid.css" rel="stylesheet" />
    <link href="~/lib/angularjs-toaster/toaster.min.css" rel="stylesheet" />
    <style>
        .cascading-right {
            margin-right: -50px;
        }

        @@media (max-width: 991.98px) {
            .cascading-right {
                margin-right: 0;
            }
        }
    </style>
</head>
<body ng-app="hospitalApp" id="hospitalApp">
    <section class="text-center text-lg-start">
        <div class="container py-4">
            <div class="row g-0 align-items-center">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="card cascading-right" style="background: hsla(0, 0%, 100%, 0.55);backdrop-filter: blur(30px);">
                        <div class="card-body p-5 shadow-5 text-center">
                            <h2 class="fw-bold mb-5">Login</h2>
                            @using (Html.BeginForm("LoginPost", "Login", FormMethod.Post))
                            {
                                <form>
                                    <!-- Email input -->
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form3Example3">User Name</label>
                                        <input type="text" class="form-control" name="UserName" id="UserName"
                                               ng-model="user.UserName" placeholder="Enter User Name" />
                                        @*<input type="email" id="form3Example3" class="form-control" />*@
                                    </div>

                                    <!-- Password input -->
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form3Example4">Password</label>
                                        <input type="password" class="form-control col-12" name="Password"
                                               placeholder="Enter Password" id="Password" ng-model="user.password" />
                                        @*<input type="password" id="form3Example4" class="form-control" />*@
                                    </div>

                                    <!-- Submit button -->
                                    <button type="submit" class="btn btn-primary btn-block mb-4">
                                        Login
                                    </button>

                                    <div class="form-group">
                                        <label style="color:#dc3545">@(Model.Message != null ? Model.Message : "")</label>
                                    </div>
                                </form>
                            }
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mb-5 mb-lg-0">
                    <img src="~/Images/004.jpg" class="w-75 rounded-4 shadow-4" alt="" />
                </div>
            </div>
        </div>
        <!-- Jumbotron -->
    </section>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angularjs")
    <script src="~/Lib/ng-dialog/js/ngDialog.js"></script>
    <script src="~/Lib/ag-grid-community/dist/ag-grid-community.js"></script>
    <script src="~/Lib/angularjs-toaster/toaster.js"></script>
    <script src="~/Lib/angularjs-dropdown-multiselect/dist/src/angularjs-dropdown-multiselect.js"></script>
    <script src="~/App/app.js"></script>
    <script src="~/App/Directive/AutoComplete.js"></script>
    <script src="~/App/Directive/Capitalize.js"></script>
    <script src="~/App/Directive/NumberOnly.js"></script>
    <script src="~/App/Directive/DatetimePicker.js"></script>
    <script src="~/Lib/angularjs-datetime-picker/angularjs-datetime-picker.js"></script>
    <script src="~/Lib/jquery.cookie.js"></script>
</body>
</html>